{{> head}}
{{> navbar }}

<div class="row">

<div class="col-8">
    <img src="assets/img/5a551df665c20.jpeg" class="img-thumbail">
</div>

<div class="col-4">
    <h1>Scarlett Johansson</h1>
</div>



</div>

{{> footer}}
